<section class="form-search">
    <form class="container">
        <div class="form-search__property-type-wrapper">
            <label class="form-search__property-type"><input type="radio" name="type" value="buy" checked><span></span>Купить</label>
            <label class="form-search__property-type"><input type="radio" name="type" value="sale"><span></span>Продать</label>
            <label class="form-search__property-type"><input type="radio" name="type"
                                                             value="rent"><span></span>Снять</label>
        </div>
        <div class="form-search__group form-search__city-wrapper">
            <label for="cityField">Место нахождения</label>
            <input id="cityField" type="text" name="city" placeholder="Наберите город..." class="form-search__input">
        </div>
        <div class="form-search__group form-search__property-wrapper">
            <label>Недвижимость</label>
            <select class="form-search__input">
                <option>Выберите тип недвижимости</option>
                <option>Квартира</option>
                <option>Дом</option>
                <option>Комната</option>
            </select>
        </div>
        <div class="form-search__group form-search__range">
            <label>Площадь</label>
            <paper-range-slider></paper-range-slider>
            <span class="form-search__range-result">100 м2</span> - <span
                class="form-search__range-result">200 м2</span>
        </div>
        <div class="form-search__group form-search__range">
            <label>Стоимость</label>
            <paper-range-slider></paper-range-slider>
            <span class="form-search__range-result">1000 Р</span> - <span
                class="form-search__range-result">10000000 Р</span>
        </div>
        <button type="submit" class="form-search__button-search">Найти</button>
    </form>
</section>